{{#each festivals as |festival|}}
<ul class="collection">
  <li class="collection-item avatar">
    <img src={{festival.logo}} alt="" class="circle">
    <span class="title">{{festival.name}}</span>
    <p>{{festival.summary}}</p>
    <p>{{festival.doors}}</p>
    <p>{{festival.start}}</p>
    <p>{{festival.status}}</p>
    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
  </li>
</ul>

{{/each}}


<ul class="pagination">
  {{#each resultsPages as |page|}}
  <li class="active"><a href="{{page.href}}">{{page.index}}</a></li>
  {{/each}}
</ul>